// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//custom colors:
$main-grey: #181a1b;
$secondary-grey: #222425;
$gold: rgb(236, 196, 134);
$red: rgb(170, 50, 50);
