$small: 576px;
$large: 996px;

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $main-grey;
  color: lightgray;
  min-height: 100vh;
  font-family: $body-font;
}

button, input, select, textarea {
  font: inherit;
}

html {
  color-scheme: dark light;
}

h1, h2, h3 {
  font-family: $headers-font;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 3px;
}
