<div id="registration-new" class="container-default c-600">
  <%= render "form", title: "Sign up", edit: false %>

  <div>
    <span>Already have an account ? </span>
    <%= link_to "Log in", new_session_path(resource_name) %>
  </div>
</div>
