// Specific CSS for your home-page
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

}

.titles {
  color: $gold;

  h1 {
    font-size: 150px;
    font-weight: bold;
    font-family: $title-font;
    text-shadow: 5px 5px 5px rgb(14, 13, 13);
  }

  h3 {
    font-size: 30px;
    color: white;
    font-family: $body-font;
  }

  .btn-index {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }

}

.image {
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgb(14, 13, 13);
  width: 375px;

}

.sign-in {
  text-align: center;
  height: 100vh;
  margin-top: 50px;
}

.sign-up-img {
  width: 500px;
}

.categories {
  height: 100vh;
  margin-top: 50px;

  h3 {
    padding: 50px 0px;
  }
}

.category-cards {
  display: flex;
  justify-content: space-between;
}
