// Import page-specific CSS files here.
@import "home";

.category-container {
  margin-top: 20px !important;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 0px;
  }
}

.category-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $gold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-grey;
  font-size: 20px;
}



.arts-container {
  margin-top: 20px !important;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @media screen and (min-width: $small) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



.favorites-gold {
  color: $gold;
}

.favorites-location-div {
  float: right;
  margin: 20px;
  font-size: 20px;
}
