<div class="alert-container" data-controller="hide-devise-alert" data-hide-devise-alert-target="alert">
  <% if notice %>
    <p>congratulations!</p>
    <%= notice %>
  <% end %>

  <% if alert %>
    <p>Sorry, something went wrong</p>
    <%= alert %>
  <% end %>
</div>
