<% if notice %>
  <div class="alert-container" data-controller="hide-devise-alert">
    <span>✔︎</span>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert-container" data-controller="hide-devise-alert">
    <span>⚠︎</span>
    <%= alert %>
  </div>
<% end %>
