<% if notice %>
  <div>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert-container" data-controller="hide-devise-alert" data-hide-devise-alert-target="alert">
    <div class="alert">
      <p>Ops, something went wrong <i class="fa-regular fa-face-sad-tear"></i></p>
      <%= alert %>
    </div>
  </div>
<% end %>
