 <nav>
    <ul class="menuItems">
      <li><a href='#' data-item='Home'>Home</a></li>
      <li><a href='#' data-item='Rent a Piece'>Rent a Piece</a></li>
      <li><a href='#' data-item='Collection'>Collection</a></li>
      <li><a href='#' data-item='Top Rented'>Top Rented</a></li>
      <li><a href='#' data-item='Contact-us'>Contact-us</a></li>
    </ul>
  </nav>
