#arts-show {
  margin-top: 50px;

  .header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    .header-like {
      transition: color 0.3s ease;

      &:hover {
        color: $gold;
      }
    }
  }

  .photos {
    border-radius: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    margin: 20px 0;
    overflow: hidden;

    .photos-secondary {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .photo {
      aspect-ratio: 1/1;
      background-color: black;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .main {
    border-bottom: $border-default;
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 420px;
    margin: 50px 0;
    padding-bottom: 50px;
  }

  form {
    margin: 0 !important;
  }

  .price-summary {
    p {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }

    span {
      color: $gold;
    }

    #total {
      border-top: $border-default;
      font-size: 22px;
      font-weight: 500;
      margin: 0;
      padding-top: 10px;
    }
  }

  .reviews {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;

    .reviewer {
      align-items: center;
      display: flex;
      font-weight: bold;
      gap: 15px;

      .avatar {
        height: 40px;
        width: 40px;
      }
    }

    .review-content {
      padding-left: 55px;
    }

    .reviews-form form {
      border: none;
      padding: 10px 0;
    }

    .reviews-title {
      align-items: baseline;
      display: flex;
      margin-bottom: 40px;

      .star {
        color: $gold;
        font-size: 2.2rem;
      }
    }

    .star {
      color: $gold;
      font-size: 1.3rem;

      span {
        color: rgba(211, 211, 211, 0.5);
        font-size: 0.8rem;
      }
    }
  }

  .user {
    border-bottom: $border-default;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  [data-star-rating] .gl-star-rating--stars[aria-label]::after {
    background-color: transparent !important;
    color: $main-grey !important;
  }

  [data-star-rating] .gl-star-rating--stars[aria-label]::before {
    background: none !important;
  }

  .gl-star-rating.gl-star-rating--ltr:has(.disabled) {
    filter: grayscale(1);
  }
}
