<div id="pages-home" class="container-default c-1200">
  <div class="banner">
    <div class="titles">
      <h3>Welcome to</h3>
      <h1>Rentart.</h1>
      <h3>Would you like to rent the Mona Lisa for a day?</h3>

      <div class="titles-btn">
        <%= link_to "Book a piece of art", arts_path, class: "btn-default btn-gold" %>
      </div>
    </div>

    <%= image_tag "home_page_painting.jpg", class: "banner-painting" %>
  </div>

  <div class="sign-up">
    <h2>Not registered yet?</h2>
    <div id="registration-new" class="container-default c-600">
      <%= render "devise/registrations/form", title: "Sign up", edit: false, resource: User.new, resource_name: :user %>

      <div>
        <span>Already have an account ? </span>
        <%= link_to "Log in", new_session_path(:user) %>
      </div>
    </div>
  </div>

  <div class="categories">
    <h2>Find by category</h2>

    <div class="category-cards">

    </div>
  </div>
</div>
