  <nav>
    <ul class="menuItems">
      <li><a href='#' data-item='Home'>Home</a></li>
      <li><a href='#' data-item='Rent a Piece'>Rent a Piece</a></li>
      <li><a href='#' data-item='Collection'>Collection</a></li>
      <li><a href='#' data-item='Top Rented'>Top Rented</a></li>
      <li><a href='#' data-item='Contact-us'>Contact-us</a></li>
    </ul>

  </nav>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Hello its antonio</p>
<p>Hello, it's Mariana</p>
<p>Hi, it's Louis</p>
