<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Hello its antonio</p>
<p>Hello, it's Mariana</p>
<p>Hi, it's Louis</p>
<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
