.alert-container{
  box-sizing: border-box;
  background-color: rgb(26, 26, 26);
  margin: 0 auto;
  width: 400px;
  color: $gold;
  text-align: center;
  font-size: 18px;
  border: 1px solid $gold;
  padding: 25px;

  span{
    font-size: 20px;
  }
}
