button, .btn-default {
  background-color: $secondary-grey;
  border: $border-default;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: inherit;
  font: inherit;
  padding: $text-padding;
  text-decoration: none;
  transition: filter 0.3s ease;

  &:hover {
    color: inherit;
    filter: brightness(110%);
  }
}

.btn-gold {
  background-color: $main-grey;
  border: 1px solid $gold;
  color: $gold;
  font-weight: 500;
  transition: all 0.3s ease;

  &:hover {
    background-color: $gold;
    color: $main-grey;
  }
}
