.card-category {

  width:300px;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid $gold;
  border-radius: 4px;
  transition: .3s;


  .category-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .text-category-card {
    text-decoration: none;
    color: $gold;
  }

  h3 {
    padding: 16px;
    text-align: center;
    text-shadow: 2px 2px 4px $main-grey;
  }
}

.card-category:hover {
  background-color: $gold;
}
