.art-card {
  min-width: 0;
  display: flex;
  flex-direction: column;

  &:hover .art-card-img {
    opacity: 0.8;
  }

  .art-card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  .art-card-favourite {
    color: $gold;
    float: right;
    font-size: 20px;
    margin: 20px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.15);
    }
  }

  .art-card-img {
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
    width: 100%;
  }

  .art_card-price {
    font-weight: 500;
  }

  .art-card-text {
    color: rgba(211, 211, 211, 0.5);
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .art-card-title {
    font-weight: bold;
  }
}

.category-card {
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  color: $gold;
  display: flex;
  flex-shrink: 0;
  font-family: $title-font;
  font-size: 30px;
  height: 125px;
  justify-content: center;
  min-width: 0;
  text-align: center;
  text-shadow: 0 0 5px black;
  width: 250px;

  @media screen and (min-width: $large) {
    font-size: 24px;
    height: 105px;
    transform: scale(0.95);
    transition: transform 0.3s ease;
    width: 210px;

    &:hover {
      transform: scale(1);
    }
  }
}

.dashboard-card {
  background-color: $secondary-grey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px;
  transition: all 0.3s ease;

  &:hover {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   transform: scale(1.05);
  }

  i {
   font-size: 1.8rem;
   margin-bottom: 20px;
  }

  h3 {
   font-size: 1.5rem;
  }

  p {
   color: rgba(211, 211, 211, 0.5);
  }
}
