footer {
  display: flex;
  align-items: center;
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;

  .icon{
    margin: 0 auto;
    color: black;

    &:hover {
      color: $gold;
    }
  }

  .description {
    margin: 0 auto;
    text-align: center;

      a {
        font-size: 14px;
        text-decoration: none;
        color: $main-grey;
        transition: all 0.3s ease;

        &:hover {
          color: $gold;
        }
      }

    h3 {
      color: #494949;
      font-size: 18px;
      padding-bottom: 10px;

      &:hover {
        color: $gold;
      }
    }
  }
}
