footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $secondary-grey;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;

  .icon{
    color: black;

    &:hover {
      color: $gold;
    }
  }

  .description {
    text-align: center;

      a {
        font-size: 14px;
        text-decoration: none;
        color: rgba(211, 211, 211, 0.5);
        transition: all 0.3s ease;
        padding-right: 5px;

        &:hover {
          color: $gold;
        }
      }

    h3 {
      color: lightgray;
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
}
