form {
  border: $border-default;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px auto;
  max-width: 100%;
  padding: 20px;
  width: 600px;

  h3 {
    border-bottom: $border-default;
    margin: 0 -20px 0 -20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .form-group {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

input, select, textarea {
  background-color: $secondary-grey;
  border: $border-default;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0), 0 0 15px rgba(0, 0, 0, 0.5);
  font: inherit;
  padding: $text-padding;
  transition: box-shadow 0.3s ease;

  &:focus {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.5);
    outline: none;
  }
}

label {
  color: rgba(211, 211, 211, 0.5);
  font-size: 0.8rem;
}
