form {
  border: $border-default;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px auto 20px;
  padding: 20px;
  width: Min(600px, 100%);

  h3 {
    border-bottom: $border-default;
    margin: 0 -20px 0 -20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .alert {
    color: $red;
    margin: 0;
    padding: 0;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .form-group {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 750px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

input, select, textarea {
  background-color: $secondary-grey;
  border: $border-default;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0), 0 0 15px rgba(0, 0, 0, 0.5);
  color: lightgray;
  font: inherit;
  padding: $text-padding;
  transition: box-shadow 0.3s ease;
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.5);
    outline: none;
  }
}

label {
  color: rgba(211, 211, 211, 0.5);
  font-size: 0.8rem;
}

.checkbox {
  align-items: center;
  display: flex;
  gap: 5px;
  padding-left: 10px;
  transform: scale(1.2);
  width: max-content;

  label {
    white-space: nowrap;
  }
}

.form-link {
  color: $gold;

  &:hover {
    color: $gold;
  }
}

#header-navbar form {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  flex-direction: row;
  gap: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;

  button {
    background-color: $secondary-grey;
    border: none;
    border-radius: 0;

    &:hover {
      background-color: $gold;
    }
  }

  input {
    border: none;
    border-radius: 0;
    width: 350px;

    &:focus {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.5);
    }
  }
}
