.category-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 30px auto 30px;
  width: 90%;

  @media screen and (min-width: $large) {
    width: calc(90% + 100px);
  }

  .category-btn {
    align-items: center;
    background-color: $gold;
    border-radius: 50%;
    color: $main-grey;
    cursor: pointer;
    display: none;
    flex-shrink: 0;
    font-size: 20px;
    height: 40px;
    justify-content: center;
    width: 40px;

    @media screen and (min-width: $large) {
      display: flex;
    }
  }

  .category-cards {
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    gap: 10px;
    overflow: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 0px;
    }
  }
}

.arts-container {
  display: grid;
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: 1fr;

  @media screen and (min-width: $small) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 2000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
