nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  height: 70px;
  font-family: Hack, monospace;
  padding: 16px;
  background-color: rgb(232, 230, 230);
  border-radius: 15px;

  .menuItems {
    list-style: none;
    display: flex;
    justify-content: space-evenly;


    li {
      // margin: 100px;

      a {
        text-decoration: none;
        color: #8f8f8f;
        font-size: 18px;
        font-weight: 300;
        transition: all 0.5s ease-in-out;
        position: absolute;
        text-transform: uppercase;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #55679b;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
