#header-navbar {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;

  a {
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;

    &::before {
      bottom: 0;
      color: $gold;
      content: attr(data-item);
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.3s;
      width: 0;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .dropdown {
    position: relative;

    .height-0 {
      max-height: 0px !important;
    }

    .menu {
      background-color: $secondary-grey;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      height: max-content;
      max-height: 150px;
      position: absolute;
      overflow: hidden;
      right: 0;
      top: calc(100% + 10px);
      transition: max-height 0.3s ease;
      width: 150px;
      z-index: 10;
    }

    .options {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      padding: 15px;
    }

    .option {
      margin-bottom: 10px;
      width: max-content;
    }
  }

  .navbar-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 200px;
  }

  #rentart-btn {
    align-items: center;
    color: lightgray;
    display: flex;
    font-family: $title-font;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 200px;

    a {
      display: inline-block;
      font-size: 50px;
      max-width: 35px;
      overflow: hidden;
      transition: all 0.3 ease;
    }

    span {
      transition: all 0.1s ease;
      transition-delay: 0.2s;
    }

    &:has(a:hover) {
      color: $gold;

      a {
        color: $gold;
        max-width: 175px;
      }
    }
  }
}
