.swiper {
  width: 300px;
}

.swiper-button-prev, .swiper-button-next {
  color: lightgrey;
  top: calc(50% + 11px);
  transform: scale(0.5);
}

.swiper-pagination-bullet-active {
  background-color: lightgray;
}

.art-card {
  .swiper-button-prev, .swiper-button-next {
    top: calc((100% - 110px) / 2);
  }

  .swiper-pagination {
    bottom: 140px;
  }

  .swiper-wrapper {
    height: auto;
    margin-bottom: 20px;
  }
}
